img {
  object-fit: cover;
}

h2 {
  font-size: 1.625rem;
  line-height: 2rem;
}

h4 {
  font-weight: bold;
  line-height: 1.3rem;
}

h3 {
  font-size: 1.125rem;
  line-height: 1.4119rem;
}

path {
  fill-rule: evenodd;
  clip-rule: evenodd;

  fill: var(--subtext-color);
}

#home-icon > path,
#youtube-image > path {
  fill: red;
}

#youtube-text > path,
#menu-icon > path,
#search-icon > path,
#tree-dots-icon > path,
.input-icon-button path {
  fill: black;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background-color: white;
  display: flex;
}
