* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "muli", sans-serif;
  font-weight: 400;
}

:root {
  --subtext-color: #c2c2c2;
  --buttons-background: rgba(235, 235, 235, 0.3);
  --prog-bar-color: rgba(255, 255, 255, 0.2);
  --slider-color: #2196f3;
  --input-text-color: rgba(48, 56, 76, 0.4);
}
