* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
}

#page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.6s;
  z-index: 9999;
  background-color: #fff;
}

img {
  object-fit: cover;
}

#page-header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.video-title {
  font-size: 16px;
  font-weight: 700;
}

.video-image {
  width: 100%;
  border-radius: 14px;
}

.video-image-block {
  position: relative;
  display: inline-block;
  line-height: 0;
  margin-bottom: 10px;
}

.timer {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 14px;
  color: #fff;
  background-color: #ab9f90;
  border-radius: 40px;
  width: 47px;
  height: 24px;
  text-align: center;
  padding: 10px 0;
  z-index: 999;
}

.views-info,
.author {
  color: #c2c2c2;
  font-size: 13px;
}

.description div:first-of-type {
  display: flex;
  justify-content: space-between;
}

.home {
  color: #ff0000;
}

aside {
  color: #898989;
}

.nav-block {
  display: flex;
  align-items: center;
}

h3 {
  color: #000;
}

article {
  width: 100%;
}

.side-menu-open {
  display: flex;
}

#article-sub-title {
  color: #c2c2c2;
}

.article-title {
  display: flex;
  gap: 22px;
  align-items: center;
}

.food-image {
  height: 100%;
}

#youtube-logo {
  object-fit: contain;
}

.input-icon-button {
  background-color: #ebebeb;
}

.subscriptions img {
  object-fit: contain;
}
