* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
}

html {
  height: 100vh;
}

body {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
}

h2 {
  font-size: 1.625rem;
  line-height: 2rem;
}

h4 {
  font-weight: bold;
  line-height: 1.255rem;
}

h3 {
  margin-bottom: 1.875rem;
  font-size: 1.125rem;
  line-height: 1.4119rem;
  color: #000;
}

path {
  fill-rule: evenodd;
  clip-rule: evenodd;

  fill: #c2c2c2;
}

#home-icon > path,
#youtube-image > path {
  fill: red;
}

#youtube-text > path,
#menu-icon > path,
#search-icon > path,
.input-icon-button path {
  fill: #000;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background-color: #fff;
  display: flex;
}

/* header */
#page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.6s;
  z-index: 9999;
  background-color: #fff;
}

img {
  object-fit: cover;
}

.side-menu-open {
  display: flex;
}

.youtube-logo {
  display: flex;
  gap: 0.1875rem;
}

.input-icon-button {
  background-color: #ebebeb;
}

#page-header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* content part*/
.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.video-image {
  width: 100%;
  height: 100%;
  border-radius: 14px;
}

.video-image-block {
  position: relative;
  display: inline-block;
  line-height: 0;
  margin-bottom: 0.625rem;
}

.timer {
  position: absolute;
  bottom: 0.625rem;
  right: 0.625rem;
  font-size: 0.875rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 40px;
  width: 2.9375rem;
  height: 1.5rem;
  text-align: center;
  padding: 0.625rem 0;
  z-index: 999;
}

.views-info,
.author {
  color: #c2c2c2;
  font-size: 0.8125rem;
}

article {
  width: 100%;
}

#article-sub-title {
  color: #c2c2c2;
}

.article-title {
  display: flex;
  gap: 1.375rem;
  align-items: center;
}

.description div:first-of-type {
  display: flex;
  justify-content: space-between;
}

.article-right-header > button {
  min-width: 9.625rem;
  min-height: 2.5rem;
  background-color: #ff0000;
  color: #fff;
  border-radius: 30px;
  border: none;
  padding: 0.625rem 1.1875rem;
}

/* aside part */
.subscriptions img {
  object-fit: contain;
}

.home {
  color: #ff0000;
}

aside {
  color: #898989;
}

.nav-block {
  display: flex;
  align-items: center;
}
