@media only screen and (max-width: 600px) {
  body {
    margin-top: 3.75rem;
  }

  /* header part */
  #page-header {
    padding: 0.75rem 1rem;
  }

  #page-header > div {
    flex-basis: 4.5625rem;
  }

  #menu-icon,
  .input-container,
  .bell-container,
  .wide-screen-button {
    display: none;
  }

  #user-avatar {
    border-radius: 50px;
    width: 1.875rem;
  }

  /* aside part */
  .first-nav-part {
    display: flex;
    justify-content: space-between;
    align-items: end;
    border-top: 1px solid #f1f1f1;
    margin-top: 0.9375rem;
    padding: 0.75rem 1.375rem 0.6875rem 1.5rem;
  }

  .first-nav-part span {
    font-size: 0.625rem;
  }

  .nav-block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .second-nav-part,
  .subscriptions,
  .settings-block {
    display: none;
  }

  /* content part */
  .content {
    padding: 0 1rem;
    gap: 3.0625rem;
  }

  .video {
    width: 100%;
  }

  .video-image-block {
    width: 100%;
    margin-bottom: 0.5rem;
  }

  #dollie-avatar,
  #plate-icon {
    border-radius: 50px;
    width: 2.5rem;
    height: 2.5rem;
  }

  .shifts {
    display: none;
  }

  .videos {
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
  }

  .article-right-header > button {
    margin-top: 0.625rem;
    margin-left: 4rem;
  }

  .article-header {
    margin-bottom: 1.25rem;
  }

  .food-image {
    object-fit: cover;
    max-height: 25rem;
  }

  .dollie-image {
    max-height: 9.375rem;
  }

  #dollie-avatar {
    width: 2.5rem;
  }
}
