@media only screen and (min-width: 601px) and (max-width: 1200px) {
  body {
    font-size: 10px;
  }

  #page-header {
    padding: 12px 16px 12px 28px;
  }

  #menu-icon {
    margin-right: 28px;
    height: 17px;
    width: 20px;
  }

  .side-menu-open {
    display: flex;
    align-items: center;
    width: 164px;
    margin-right: 3.2vw;
  }

  #header-left {
    align-items: baseline;
  }

  #youtube-icon {
    margin-right: 3px;
  }

  .wide-screen-icon,
  #search-icon {
    display: none;
  }

  .input-container {
    width: 43.23vw;
    position: relative;
    height: 30px;
  }

  .input-field {
    width: 100%;
    border-radius: 30px;
    color: #30384c;
    background-color: #ebebeb;
    padding: 0.73vw 0.94vw 0.73vw 1.2vw;
    text-align: left;
    border: none;
    height: 100%;
  }

  .input-icon-button {
    position: absolute;
    right: 1.2vw;
    top: 0.68vw;
    border: none;
  }

  .input-icon-button img {
    width: 13px;
    vertical-align: middle;
  }

  .main-container {
    display: flex;
    margin-top: 70px;
  }

  .nav-block {
    flex-direction: column;
    font-size: 10px;
    margin-bottom: 20px;
  }

  aside {
    order: -1;
    min-width: 80px;
    padding: 10px 0;
  }

  .settings-block,
  .subscriptions {
    display: none;
  }

  .article-title {
    gap: 10px;
  }

  .article-title > div:first-of-type {
    display: flex;
    flex-direction: column;
  }

  #article-sub-title {
    font-size: 13px;
  }

  #user-avatar,
  #dollie-avatar,
  #food-icon {
    width: 35px;
  }

  .content {
    margin-left: 20px;
    padding: 10px 0px;
    gap: 40px;
    overflow: hidden;
  }

  .shifts,
  .article-header {
    display: flex;
    justify-content: space-between;
  }

  .article-header {
    margin-bottom: 20px;
    padding-right: 7.81vw;
  }

  .shifts {
    gap: 10px;
    align-items: end;
  }

  .shifts img {
    width: 20px;
  }

  h2 {
    font-size: 18px;
  }

  .videos {
    display: flex;
    gap: 40px;
    overflow: hidden;
    flex-wrap: nowrap;
  }

  .video-image {
    min-width: 250px;
  }

  .recommended-image {
    height: 100%;
  }

  .article-right-header {
    display: flex;
    gap: 15px;
    align-items: center;
    align-self: flex-end;
  }

  .article-right-header > button {
    min-width: 8.02vw;
    min-height: 3.33vh;
    background-color: #ff0000;
    color: #fff;
    border-radius: 30px;
    border: none;
    padding: 10px 15px;
  }

  .food-image {
    max-height: 250px;
  }
}
