.video-image-block {
  position: relative;
  display: inline-block;
  line-height: 0;
  margin-bottom: 10px;
}

.video-image {
  width: 100%;
  border-radius: 14px;
  height: 100%;
}

.video-title {
  font-weight: bold;
  line-height: 20px;
}

.timer {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 14px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 40px;
  width: 47px;
  height: 24px;
  text-align: center;
  padding: 13px 0;
  z-index: 999;
}

.views-info,
.author {
  color: #c2c2c2;
  font-size: 13px;
  line-height: 16px;
}

#green-back-container > img {
  width: 100%;
  height: 100%;
}

#subscribe-button {
  background-color: #ff0000;
  color: #fff;
  border-radius: 30px;
  border: none;
  padding: 10px 19px;
}

.tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tabs > p:first-child {
  text-decoration: underline;
  color: #ff0000;
  font-weight: bold;
  text-underline-offset: 8px;
  text-decoration-thickness: 5px;
}

.tabs > img {
  object-fit: contain;
}

@media only screen and (min-width: 601px) {
  .content {
    padding: 1.16vh 0 3.33vh 0;
    overflow: hidden;
    width: 100%;
  }

  #green-back-container {
    margin-right: 3.65vw;
    height: 23.33vh;
  }

  #green-back-container > img {
    border-radius: 14px;
  }

  .channel-header {
    display: flex;
    justify-content: space-between;
    margin: 2.58vh 3.65vw 1.58vh 0;
  }

  #channel-avatar {
    width: 80px;
    border-radius: 50px;
  }

  .channel-title-container {
    display: flex;
  }

  .channel-title-container > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 14px;
  }

  #channel-sub-title {
    font-size: 13px;
    color: #c2c2c2;
  }

  .channel-header > div:nth-child(2) {
    display: flex;
    justify-content: center;
    align-self: flex-start;
  }

  #bell-icon-button {
    background-color: #fff;
    border: none;
    margin-right: 19px;
    padding-top: 1px;
  }

  #bell-icon-button > img {
    width: 1.146vw;
  }

  #subscribe-button {
    min-width: 8.02vw;
    min-height: 3.33vh;
    font-size: 16px;
  }

  .main-channel-block {
    margin-right: 3.65vw;
    display: grid;
    grid-template-columns: 78% 17%;
    grid-column-gap: 4%;
    grid-row-gap: 16.26%;
  }

  #main-video-description > .views-info {
    font-size: 16px;
  }

  #recommend-channels {
    grid-row: 1/3;
    grid-column: 2/3;

    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #recommend-channels > p:first-child {
    color: rgba(194, 194, 194, 1);
  }

  .tabs {
    width: 43.229vw;

    font-size: 18px;
  }

  h2 {
    font-size: 20px;
    max-width: none;
    line-height: 25px;
  }

  #main-video-container > .video-image-block {
    width: 28.125vw;
    height: 250px;
    margin-bottom: 0;
  }

  #main-video-container {
    display: flex;
    gap: 32px;
  }

  #main-video-description {
    max-width: 28.54vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  #main-video-description > p:nth-child(2) {
    line-height: 22px;
    font-size: 16px;
    opacity: 60%;
  }

  .recommend-channels-block > img {
    width: 50px;
    border-radius: 50px;
  }

  .recommend-channels-block {
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
  }

  .videos-article {
    margin-top: 5.08vh;
  }

  .shifts,
  .article-header {
    display: flex;
    justify-content: space-between;
  }

  .article-header {
    margin-bottom: 30px;
    padding-right: 7.76vw;
  }

  .shifts {
    gap: 10px;
    align-items: end;
  }

  .shifts img {
    width: 28px;
  }

  .video > .video-image-block {
    width: 250px;
    height: 150px;
  }

  .channel-videos-container {
    display: flex;
    gap: 40px;
    overflow: hidden;
    flex-wrap: nowrap;
  }
}

@media only screen and (min-width: 1401px) {
  h2 {
    font-size: 26px;
    font-weight: bold;
    line-height: 34px;
    max-width: 22.45vw;
  }

  .main-channel-block {
    height: 31.5vh;
  }
}
