.video-image-block {
  position: relative;
  display: inline-block;
  line-height: 0;
  margin-bottom: 0.625rem;
}

.video-image {
  width: 100%;
  height: 100%;
  border-radius: 14px;
}

svg {
  height: 100%;
}

.timer {
  position: absolute;
  bottom: 0.625rem;
  right: 0.625rem;
  font-size: 0.875rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 40px;
  width: 2.9375rem;
  height: 1.5rem;
  text-align: center;
  padding: 0.8rem 0;
  z-index: 999;
}

.description div:first-of-type {
  display: flex;
  justify-content: space-between;
}

.views-info,
.author {
  color: #c2c2c2;
  font-size: 0.8125rem;
}

#green-back-container > img {
  width: 100%;
  height: 100%;
}

#subscribe-button {
  background-color: #ff0000;
  color: #fff;
  border-radius: 30px;
  border: none;
  padding: 0.625rem 1.1875rem;
}

.tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tabs > svg {
  object-fit: contain;
}

.tabs {
  width: 51.875rem;
  font-size: 1.125rem;
}

.tabs path {
  fill: #000;
}

.tabs button:not(.selected) > h3 {
  font-weight: normal;
}

.tabs .selected {
  text-decoration: underline;
  color: #ff0000;
  font-weight: bold;
  text-underline-offset: 0.5rem;
  text-decoration-thickness: 0.125rem;
}

@media only screen and (min-width: 601px) {
  .content {
    padding: 0.875rem 0 2.5rem 0;
    overflow: hidden;
    width: 100%;
  }

  .mobile {
    display: none;
  }

  #subscriptions-nav-block {
    margin-bottom: 0;
  }

  #green-back-container {
    margin-right: 4.375rem;
    height: 17.5rem;
  }

  #green-back-container > img {
    border-radius: 14px;
  }

  .channel-header {
    display: flex;
    justify-content: space-between;
    margin: 1.875rem 4.375rem 1.25rem 0;
  }

  #channel-avatar {
    width: 5rem;
    border-radius: 50px;
  }

  .channel-title-container {
    display: flex;
  }

  .channel-title-container > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 0.875rem;
  }

  #channel-sub-title {
    font-size: 0.8125rem;
    color: #c2c2c2;
  }

  .channel-header > div:nth-child(2) {
    display: flex;
    justify-content: center;
    align-self: flex-start;
  }

  #bell-icon-button {
    background-color: #fff;
    border: none;
    margin-right: 1.1875rem;
    padding-top: 0.0625rem;
  }

  #subscribe-button {
    min-width: 9.625rem;
    min-height: 2.5rem;
  }

  .main-channel-block {
    height: 20.75rem;
    margin-right: 4.375rem;
    display: grid;
    grid-template-columns: 78% 17%;
    grid-column-gap: 4%;
    grid-row-gap: 16.26%;
  }

  #recommend-channels {
    grid-row: 1/3;
    grid-column: 2/3;

    height: 16.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #recommend-channels > span {
    color: rgba(194, 194, 194, 1);
  }

  .tab-content > .video-image-block {
    width: 33.75rem;
    height: 15.625rem;
    margin-bottom: 0;
  }

  .tab-content {
    display: flex;
    gap: 2rem;
  }

  #main-video-description {
    max-width: 34.25rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  #main-video-description > p:nth-child(2) {
    line-height: 1.375rem;
    opacity: 60%;
  }

  .recommend-channels-block > img {
    width: 3.125rem;
    border-radius: 50px;
  }

  .recommend-channels-block {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    font-weight: bold;
    font-size: 1.125rem;
    line-height: 1.4375rem;
  }

  .videos-article {
    margin-top: 3.8125rem;
  }

  .shifts,
  .article-header {
    display: flex;
    justify-content: space-between;
  }

  .article-header {
    margin-bottom: 1.875rem;
    padding-right: 9.3125rem;
  }

  .shifts {
    gap: 0.625rem;
    align-items: end;
  }

  .video > .video-image-block {
    width: 15.625rem;
    height: 9.375rem;
  }

  .channel-videos-container {
    display: flex;
    gap: 2.5rem;
    overflow: hidden;
    flex-wrap: nowrap;
  }
}

@media only screen and (min-width: 1401px) {
  h2 {
    font-weight: bold;
    max-width: 27rem;
  }
}
