* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
}

body {
  font-family: "muli", sans-serif;
  font-weight: 400;
}

img {
  object-fit: cover;
}

h2 {
  font-size: 1.625rem;
  line-height: 2rem;
}

h4 {
  font-weight: bold;
  line-height: 1.255rem;
}

h3 {
  font-size: 1.125rem;
  line-height: 1.4119rem;
  color: #000;
}

path {
  fill-rule: evenodd;
  clip-rule: evenodd;

  fill: #c2c2c2;
}

#home-icon > path,
#youtube-image > path {
  fill: red;
}

#youtube-text > path,
#menu-icon > path,
#search-icon > path,
#tree-dots-icon > path,
.input-icon-button path {
  fill: #000;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background-color: #fff;
  display: flex;
}

@media only screen and (min-width: 601px) {
  .main-container {
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }

  .mobile {
    display: none;
  }
}

@media only screen and (min-width: 1201px) {
  .main-container {
    gap: 4.125rem;
  }
}
