@media only screen and (max-width: 600px) {
  .main-container {
    margin-top: 3.75rem;
  }
  .content {
    width: 100%;
  }

  #green-back-container {
    height: 6.25rem;
  }

  .channel-header {
    position: relative;
    margin-top: 2.5rem;
  }

  #channel-avatar {
    width: 4.375rem;
    position: absolute;
    border-radius: 50%;
    top: -4.57rem;
    left: 1rem;
  }

  #channel-sub-title {
    font-size: 0.75rem;
    color: #c2c2c2;
    line-height: 0.9375rem;
  }

  h2 {
    font-size: 1.25rem;
    line-height: 1.569rem;
    font-weight: bold;
  }

  #bell-icon-button {
    display: none;
  }

  #subscribe-button {
    font-size: 0.75rem;
  }

  .tab-content,
  #recommend-channels,
  .article-header {
    display: none;
  }

  .channel-header,
  .videos-article,
  .main-channel-block {
    padding: 0 1rem;
  }

  .channel-title-container {
    margin-bottom: 1.25rem;
  }

  .main-channel-block {
    margin-top: 1.875rem;
    margin-bottom: 1rem;
  }

  .desktop-tab {
    display: none;
  }

  .tabs {
    margin-right: 5.93vw;
    font-size: 0.875rem;
    line-height: 1.1rem;
    width: 93.4%;
  }

  .tabs > img:last-child {
    color: #000;
  }

  .video-image-block {
    width: 100%;
    height: 9.375rem;
  }

  .video {
    margin-bottom: 1.875rem;
  }
}
