#image-player-container {
  margin-bottom: 1.25rem;
  height: 43.75rem;
  width: 100%;
}

#image-player-container img {
  width: 100%;
  height: 100%;
  border-radius: var(--video-border-radius);
}

.feedback-btns {
  display: flex;
  gap: 0.625rem;
}

.feedback-btns button {
  width: 6.25rem;
  height: 2.5rem;
  background-color: var(--buttons-background);
  border-radius: var(--button-border-radius);
  text-align: center;
  gap: 0.5rem;
}

.buttons {
  display: flex;
  gap: 2.5rem;
  align-items: center;
}

#main-views {
  font-size: 1.25rem;
  line-height: 1.57rem;
}

.feedback-btns span {
  color: var(--primary-main);
  font-size: 1rem;
  line-height: 1.255rem;
}

@media only screen and (min-width: 601px) and (max-width: 1501px) {
  #main-video-description > div:first-of-type {
    margin-top: 0.25rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.25rem;
  }
}

@media only screen and (max-width: 600px) {
  #main-views,
  #descrptn-header span {
    font-size: 0.75rem;
    line-height: 0.94rem;
  }

  #image-player-container {
    height: 11.25rem;
  }

  #main-video-description > div:first-of-type {
    margin-top: 0.25rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.25rem;
  }

  #main-video-description {
    margin: 0 1rem 1.875rem 1rem;
  }

  #image-player-container img {
    border-radius: 0;
  }

  .desktop {
    display: none;
  }
}

@media only screen and (min-width: 601px) {
  .mobile {
    display: none;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1200px) {
  #main-video-player-container {
    padding-bottom: 2.5rem;
  }
}
